<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layoutBase}">

<th:block layout:fragment="content">
    <style>
    .form-control2 {
      /* display: block; */
      /* width: 100%; */
      max-width: 200px;
      height: calc(1.5em + 0.5rem + 2px);
      padding: 0.375rem 0.5rem;
      font-size: small;
      font-weight: 400;
      line-height: 1.5;
      color: #6e707e;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #d1d3e2;
      border-radius: 0.35rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    </style>

    <div class="row">
        <!-- 왼쪽 -->
        <div class="col-9">
            <div class="card shadow">
                <a href="#product" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true">
                    <h6 class="m-0 font-weight-bold text-primary">상품 정보</h6>
                </a>

                <div class="card-body p-2 collapse show" id="product">
                        <div class="table-responsive">
                            <table class="table table-bordered mb-0">
                                <tr><td style="width:250px;">번호</td>
                                    <td>
                                        [[${productSeq}]]
                                        <input type="hidden" id="productId" th:value="${productSeq}">
                                        <input type="hidden" id="regState" value="REG" >
                                    </td>
                                </tr>

                                <tr>
                                    <td>이름</td>
                                    <td><input type="text" id="productName" class="form-control"  ></td>
                                </tr>

                                <tr>
                                    <td>메인 이미지</td>
                                    <td>
                                        <img style="width:300px;" id="previewMainImg"><BR>
                                        <Form id="fileForm" >
                                            <input type="file" name="file"> <input type="button" id="attachFile" value="파일업로드">
                                        </Form>
                                        <input type="hidden" id="mainImageSrc">
                                    </td>
                                </tr>

                                <tr>
                                    <td>대출선택</td>
                                    <td>
                                        <input type="text" id="loanSeq" th:value="${loanSeq}"  class="form-control2" readonly >
                                    </td>
                                </tr>

                                <tr>
                                    <td>태그</td>
                                    <td><input type="text" id="tags" class="form-control" ></td>
                                </tr>

                                <tr>
                                    <td>상품 청약 가능기간</td>
                                    <td>
                                        <input type="date"  id="investStartAt" class="form-control2"  >
                                        ~
                                        <input type="date"  id="investEndAt" class="form-control2"  >
                                    </td>
                                </tr>

                                <tr>
                                    <td>투자 기간(예정)</td>
                                    <td>
                                        <input type="date"  id="executionDate" class="form-control2" >
                                        ~
                                        <input type="date" id="loanExpireDay" class="form-control2">
                                    </td>
                                </tr>

                                <tr>
                                    <td>대출기간 개월</td>
                                    <td><input type="text" id="loanPeriodMonth" class="form-control"  ></td>
                                </tr>

                                <tr>
                                    <td>모집 금액</td>
                                    <td><input type="text" id="totalAmount"  class="form-control" ></td>
                                </tr>

                                <tr>
                                    <td>이자 지급일</td>
                                    <td><input type="text" id="interestPaymentDay" class="form-control"></td>
                                </tr>

                                <tr>
                                    <td>준법감시인 심사일</td>
                                    <td>
                                        <input type="date" id="confirmAt" class="form-control col-3" style="display:inline"  readonly><BR>
                                        <span style="font-color:red; font-size:10px;"> ※ 금결원 계약신고시 생성됩니다.</span>
                                    </td>
                                </tr>

                            </table>
                        </div>

                        <div class="d-block col-12 align-self-center">
                            <button class="w-100 btn btn-primary btn-lg m-1 col-3" id="productSave">저장</button>
                            <button class="w-100 btn btn-primary btn-lg m-1 col-3" id="productSave2">모집갱신(신고이후)</button>
                        </div>
                    </form>
                </div>
            </div>
    </div>
    <hr />

        <!-- 오른쪽 -->
        <div class="col-3">


            <div class="card shadow mb-4">

                <a href="#p2pcenter" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true">
                    <h6 class="m-0 font-weight-bold text-primary">금결원 신고</h6>
                </a>

                <div class="card-body p-2" id="p2pcenter">
                    <div class="d-block col-12 align-self-center">
                        <select id="p2pRegist">
                            <option value="REG_CENTER">상품 모집등록(상품설명서X)</option>
                            <option value="REG_UPDATE">상품모집 수정 신고</option>
                            <option value="REG_CANCEL">상품 모집 취소 신고</option>
                            <option value="REG_COMPLETE">상품 모집 완료 신고</option>
                        </select>
                        <button class="w-100 btn btn-success btn-sm m-1 col-3"  id="p2pAction">실행</button>
                    </div>
                </div>
            </div>


            <div class="card shadow mb-4">

                <a href="#note" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true">
                    <h6 class="m-0 font-weight-bold text-primary">변경노트</h6>
                </a>

                <div class="card-body p-2">

                    <div class="col-12 mb-2">
                        <label for="memo">메모</label>
                        <textarea id="memo"  class="form-control" style="min-height: 10vh"></textarea>
                    </div>

                    <div class="d-block col-12 align-self-center">
                        <select id="status">
                            <option value="">메모작성</option>
                            <option value="AUDIT">심사중으로 상태변경</option>
                            <option value="APPROVAL">승인으로 상태변경</option>
                            <option value="REJECT">거절로 상태변경</option>
                        </select>
                        <button class="w-100 btn btn-success btn-sm m-1 col-3"  id="changeState">실행</button>
                    </div>

                </div>
                <hr>
                <div class="card-body p-2 collapse show" id="note">
                </div>
            </div>

        </div>

    </div>

    <script>

    $("#attachFile").on("click", function(event) {
        event.preventDefault();

        var formData = new FormData($("#fileForm")[0]);
        $.ajax({
            url : "https://api-gw.dozip.kr/common/v1/attachFile",
            type: 'post',
            data : formData,
            cache : false,
            contentType: false,
            processData: false,
            success : function(attachs, jqXHR, textStatus) {
                console.log(attachs);
                $("#previewMainImg").attr("src", attachs[0].filePath);
                $("#mainImageSrc").val(attachs[0].filePath);
            }
        });

   });


    $("#productSave").on("click", function() {
       if($("#regState").val() == "") $("#regState").val("REG");

       var product = {
            "id"               : $("#productId").val(),
            "loanSeq"          : $("#loanSeq").val(),
            "mainImageSrc"     : $("#mainImageSrc").val(),
            "productName"      : $("#productName").val(),
            "tags"             : $("#tags").val(),
            "investStartAt"    : $("#investStartAt").val(),
            "investEndAt"      : $("#investEndAt").val(),
            "totalAmount"      : $("#totalAmount").val(),
            "confirmAt"        : $("#confirmAt").val(),
            "interestPaymentDay" : $("#interestPaymentDay").val(),
            "executionDate"    : $("#executionDate").val(),
            "loanPeriodMonth"  : $("#loanPeriodMonth").val(),
            "loanExpireDay"    : $("#loanExpireDay").val(),
            "vtAccountNo"      : $("#vtAccountNo").val(),
            "regState"         : $("#regState").val()
        };

        console.log(JSON.stringify(product));


        $.ajax({
            url : "/proxy/grayzip/v1/products",
            type: 'post',
            accept: "application/json",
            contentType: "application/json; charset=utf-8",
            data : JSON.stringify(product),
            cache : false,
            success : function(data) {
                alert("상품정보가 수정되었습니다.");
                location.reload();
            },
            error: function(request, error) {
                console.log(request);
                console.log(error);
                alert("상품 수정중 오류가 발생했습니다. 다시 시도해주세요!");
            }
        });
    });

    function init() {
        var productId = $("#productId").val();

        var loanId = $("#loanSeq").val();

        if( productId != "" && productId>0) {
            getProductInfo(productId);
        } else {
            getLoan(loanId);
        }
    }


    function getLoan(loanId) {
        $.ajax({
            url : "/proxy/grayzip/v1/loan/"+loanId,
            type: 'GET',
            accept: "application/json",
            contentType: "application/json; charset=utf-8",
            cache : false,
            success : function(data) {
                console.log(JSON.stringify(data, null, 4));
                $("#productName").val(data.apartmentName);
                $("#totalAmount").val(data.totalLoanAmount);
                $("#interestPaymentDay").val(data.interestPaymentDay+2);
                $("#executionDate").val(data.loanStartDay);
                $("#loanPeriodMonth").val(data.loanPeriodMonth);
                $("#loanExpireDay").val(data.loanExpireDay);
            },
            error: function(request, error) {
                console.log(request);
                console.log(error);
                alert(request.responseJSON.message);
                alert("담보 정보를 가져오는 중에 오류가 발생했습니다.");
            }
        });
    }

    init();

    function getProductInfo(productId) {
        $.ajax({
            url : "/proxy/grayzip/v1/products/"+productId,
            type: 'GET',
            accept: "application/json",
            contentType: "application/json; charset=utf-8",
            cache : false,
            success : function(data) {
                console.log(JSON.stringify(data, null, 4));

                $("#previewMainImg").attr("src", data.mainImageSrc);

                Object.keys(data).forEach(function(key){
                    //if(typeof data[key] != "object") {
                        if($("#"+key).attr("type") == 'date') {
                            console.log(key);
                            $("#"+key).val(data[key].split("T")[0]);
                        }else {
                            $("#"+key).val(data[key]);
                        }
                    //} else {
                    //    var detail = data[key];
                    //    Object.keys(detail).forEach(function(key2) {
                    //        $("#"+key2).val(detail[key2])
                    //    });
                    //}
                });
            },
            error: function(request, error) {
                console.log(request);
                console.log(error);
                alert("상품 정보를 가져오는 중에 오류가 발생했습니다.");
            }
        });
    }

         var memoLog = {
                "serviceType" : "PRODUCT",
                "serviceId" : $("#productId").val(),
         };

        $("#p2pAction").on("click", function() {
             var status = $("#p2pRegist").val();
            memoLog["status"] = status

            $.ajax({
                url : "/proxy/grayzip/v1/common/state",
                type: 'post',
                accept: "application/json",
                contentType: "application/json; charset=utf-8",
                data : JSON.stringify(memoLog),
                cache : false,
                success : function(data) {
                    alert("저장되었습니다.");
                    loadLog()
                },
                error: function(request, error) {
                    console.log(request);
                    console.log(error);
                    alert(request.responseJSON.message);
                }
            });
        });

        function loadLog() {
             $.ajax({
                url : "/proxy/grayzip/v1/common/state?serviceType="+memoLog.serviceType+"&serviceId="+memoLog.serviceId,
                type: 'get',
                accept: "application/json",
                contentType: "application/json; charset=utf-8",
                cache : false,
                success : function(data) {
                    data.content.forEach(function(content) {
                        var card = '<div class="card-body p-2 collapse show">' +
                                   '<span>'+content.createdAt+'</span> / <span>'+content.employId+'</span>' +
                                   '<div class="form-group" style="height:80px;boarder:1px solid red; background-color:#f0f0f0; margin-top:10px;padding:10px;">' +
                                   ''+content.memo+''+
                                   '</div>'+
                                   '</div>';
                        $("#note").append(card);
                    });
                },
                error: function(request, error) {
                    console.log(request);
                    console.log(error);
                }
            });
        }
        loadLog();
    </script>
</th:block>
