<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layoutBase}">

<th:block layout:fragment="content">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">쿠폰 발급</h6>
        </div>

        <div class="card-body">
            <form class="form-row col-12"   method="post">
                <div class="col-2">
                    <label for="couponType">쿠폰 타입</label>
                    <div class="py-1"></div>

                    <select class="form-select" id="couponType" th:field="*{couponType}">
                        <option th:each="couponType : ${couponTypeList}" th:value="${couponType.name}">[[${couponType.korLabel}]]</option>
                    </select>

                </div>

                <div class="col-2">
                    <div>코드 발급 여부</div>
                    <div class="align-self-center mb-3"></div>
                    <input type="radio" th:value="false" th:field="*{generateCode}">
                    <label th:for="${#ids.prev('generateCode')}" class="form-check-label">미발급</label>
                    <input type="radio" th:value="true" th:field="*{generateCode}">
                    <label th:for="${#ids.prev('generateCode')}"  class="form-check-label">발급</label>
                </div>

                <div class="col-2">
                    <label for="numberOfIssues">수량</label>
                    <input type="text" id="numberOfIssues" th:field="*{numberOfIssues}" class="form-control col-10" placeholder="쿠폰 수량">
                </div>

                <div class="col-2 d-block align-self-center">
                    <button class="w-100 btn btn-primary btn-lg" type="submit">쿠폰 생성</button>
                </div>
            </form>
        </div>
    </div>

    <hr class="my-4" />

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">쿠폰 내역</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr class="bg-gray-200">
                        <td>쿠폰 타입</td><td>금액</td><td>쿠폰 코드</td><td>할당시각</td><td>만료예정시각</td>
                    </tr>
                    <th:block th:each="e : ${list}">
                        <tr>
                            <td>[[${e.couponType}]]</td>
                            <td>[[${#numbers.formatDecimal(e.amount, 0, 'DEFAULT', 0, 'DEFAULT')}]]</td>
                            <td>[[${e.couponCode}]]</td>
                            <td>[[${e.assignedAt}]]</td>
                            <td>[[${e.expiredAt}]]</td>
                        </tr>
                    </th:block>
                </table>
            </div>
            <div th:insert="~{fragments/pagination :: pagination}"></div>
        </div>
    </div>
</th:block>
