<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" integrity="sha384-oOE/3m0LUMPub4kaC09mrdEhIc+e3exm4xOGxAmuFXhBNF4hcg/6MiAXAf5p0P56" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <!-- Form Login -->
    <form class="form-signin" method="post" th:action="@{${contextPath}${authenticationUrl}}">
        <div th:if="${formLoginEnabled}">  </div>
        <h2 class="form-signin-heading">Please sign in</h2>
        <p th:utext="${errorMsg}"></p>
        <p th:utext="${logoutSuccess}"></p>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </p>
        <p><input type='checkbox' th:name='${paramName}' /> Remember me on this computer.</p>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

    <!-- OAuth2 Login -->
    <div >
        <div th:if="${oauth2LoginEnabled}">  </div>
        <h2 class="form-signin-heading">Login with OAuth 2.0</h2>
        <p th:utext="${errorMsg}"></p>
        <p th:utext="${logoutSuccess}"></p>
        <table class="table table-striped">
            <tr th:each="entry : ${oauth2AuthenticationUrlToClientName.entrySet()}">
                <td>
                    <a th:href="@{${contextPath} + ${entry.key}}"
                       th:text="${#strings.escapeHtml(entry.value)}">OAuth2 Provider</a>
                </td>
            </tr>
        </table>
    </div>

    <!-- SAML2 Login -->
    <div th:if="${saml2LoginEnabled}">
        <h2 class="form-signin-heading">Login with SAML 2.0</h2>
        <p th:utext="${errorMsg}"></p>
        <p th:utext="${logoutSuccess}"></p>
        <table class="table table-striped">
            <tr th:each="entry : ${saml2AuthenticationUrlToProviderName.entrySet()}">
                <td>
                    <a th:href="@{${contextPath} + ${entry.key}}"
                       th:text="${#strings.escapeHtml(entry.value)}">SAML2 Provider</a>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>