<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layoutBase}">

<th:block layout:fragment="content">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">대출</h6>
        </div>

        <div class="card-body">
            <form class="form-row col-10" th:action="@{/loans}" method="get">

                <div>기간 검색 : <input type="text" id="startedAt" class="datepicker" value="" th:value="${startAt}" >
                    ~  <input type="text" id="finishedAt" class="datepicker" value="" th:value="${endAt}" >
                </div>

                <select class="col-2 form-select" id="status" name="status">
                    <option value="">선택하세요.</option>
                    <option th:each="status : ${loanStatusList}" th:value="${status.name}">[[${status.name}]]</option>
                </select>

                <div class="col-2 d-block align-self-center">
                    <button class="w-100 btn btn-primary btn-middle" type="submit">조회</button>
                </div>
            </form>
        </div>
    </div>

    <hr class="my-4" />

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">대출 계약 신청 내역</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr class="bg-gray-200">
                        <td>번호</td><td>담보 번호</td><td>아파트 이름</td><td>신청금액</td><td>사용자</td><td>최초 금리 (%)</td><td>최대 금리 (%)</td><td>기간 (월)</td><td>상태</td><td>생성시각</td>
                    </tr>
                    <th:block th:each="e : ${list}">
                        <tr>
                            <td>[[${e.loanSeq}]]</td>
                            <td>[[${e.collateralId}]]</td>
                            <td><a th:href="@{|/loans/${e.loanSeq}|}">[[${e.userId}]] - [[${e.apartmentName}]]</a></td>
                            <td>[[${#numbers.formatDecimal(e.totalLoanAmount, 0, 'DEFAULT', 0, 'DEFAULT')}]]</td>
                            <td>[[${e.userId}]]</td>
                            <td>[[${#numbers.formatDecimal(e.interestRate, 0, 'DEFAULT', 2, 'DEFAULT')}]]</td>
                            <td>[[${#numbers.formatDecimal(e.maxInterestRate, 0, 'DEFAULT', 2, 'DEFAULT')}]]</td>
                            <td>[[${e.loanPeriodMonth}]]</td>
                            <td>[[${e.status}]]</td>
                            <td>[[${e.createdAt}]]</td>
                        </tr>
                    </th:block>
                </table>
            </div>

        </div>
    </div>
</th:block>
